* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  background: #f7cd75;
  /* background-repeat: no-repeat; */
}

.container {
  display: flex;
  height: 32rem;
  background: #ffffff;
  box-shadow: 2px grey;
  max-width: 55rem;
  margin: 7rem auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cards {
  background: #f2f2f2;
  height: 32rem;
  overflow: hidden;
  width: 22rem;
}

.cards:hover {
  overflow-y:scroll;

}

.description {
  overflow-y: hidden;
  height: 32em;
  width: 40em;
}

.description:hover {
  overflow-y: scroll;
}

.wallet {
  display: flex;
  margin: 3rem;
  color: #4c4b48;
}

.media {
  margin-left: 6rem;
  color: #4c4b48;
}

.maestrocard,
.visa,
.mastercard {
  width: 4rem;
}

#maestro,
#master,
#visas {
  margin: 3rem;
  color: #abacaf;
  background: #ffffff;
  border-radius: 0.3rem;
  height: 7rem;
  width: 13rem;
}

#maestro:hover {
  border: 1px solid rgb(162, 201, 216);
  cursor: pointer;
  /* height: 7rem; */
  /* width: 13rem; */
}

#master:hover {
  border: 1px solid rgb(162, 201, 216);
  cursor: pointer;
  /* height: 7rem; */
  /* width: 13rem; */

}

#visas:hover {
  border: 1px solid rgb(162, 201, 216);
  cursor: pointer;
  /* height: 7rem; */
  /* width: 13rem; */
}

h3 {
  font-weight: 500;
  font-size: 17px;
}

#maestro p,
#master p,
#visas p {
  margin-left: 0.5rem;
  font-weight: 700;
}

.maestrocard,
.mastercard,
.visa {
  margin: 0.5rem;
}

.expire {
  font-size: 14px;
  font-weight: 700;
}

.balance {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1.5px solid rgb(224, 224, 216);
}

.price {
  font-size: 22px;
  font-weight: 700;
  color: #818181;
}

.balla {
  font-weight: 700;
  font-size: 20px;
}

.bal {
  font-weight: 700;
  font-size: 20px;
  color: lightblue;
}

.bala {
  font-size: 20px;
  font-weight: 700;
  color: lightgreen;
}

sup {
  font-size: 14px;
}

#span {
  display: flex;
  justify-content: space-around;
}

.minuse {
  /* width: 1rem; */
  /* color: black; */
}

.oval {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #abacaf;
}

.elect {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: #818181;
  font-weight: 700;
  margin-bottom: 2rem;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}