* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  background: #f7cd75;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  height: 25rem;
  background: #ffffff;
  box-shadow: 2px grey;
  width: 45vw;
  margin: 7rem auto;
}

.cards {
  background: #f2f2f2;
  height: 25rem;
  /* width: 16rem; */
  overflow: hidden;
}

.cards:hover {
  overflow-y:scroll;
}

.description {
  overflow-y: hidden;
  height: 25em;
  width: 33em;
  padding-left: 2em;
  padding-right: 2em;
}

.description:hover {
  overflow-y: scroll
}

.wallet {
  display: flex;
  margin: 3rem;
  color: #4c4b48;
}

.media {
  margin-left: 6rem;
  color: #4c4b48;
}

.maestrocard,
.visa,
.mastercard {
  width: 4rem;
}

#maestro,
#master,
#visas {
  margin: 3rem;
  border: 1px solid #f3f1eb;
  color: #abacaf;
  background: #ffffff;
  border-radius: 0.3rem;
}

#maestro p,
#master p,
#visas p {
  margin-left: 0.5rem;
  font-weight: 600;
}

.maestrocard,
.mastercard,
.visa {
  margin: 0.5rem;
}

.expire {
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-weight: 600;
}